@font-face{
    font-family: Omnes;
    font-weight: 600;
    src: url("../fonts/Omnes-Regular.otf");
}


body{
	background-color: rgba(217,206,178,1);
}

#infoOverlay {
	text-align: center;
	position: absolute;
	top: 40%;
  	margin-top:-120px;
  	padding-bottom: 50px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
}

#infoOverlay h1 {
  font-family: "Omnes", "HelveticaNeue","alternate-gothic-no-1-d", "HelveticaNeue", Helvetica, Arial, Sans-serif ;
  font-weight:600;
  font-size: 30px;
  line-height: 38px;
  width:60%;
  margin: 0 auto;
  color:#948C75;
}

#infoOverlay h2 {
  font-family: "Omnes", "HelveticaNeue","alternate-gothic-no-1-d", "HelveticaNeue", Helvetica, Arial, Sans-serif ;
  font-weight:600;
  font-size: 30px;
  line-height: 45px;
  width:60%;
  margin: 0 auto;
  color:#948C75;
}

#infoOverlay a:hover{

  border-bottom: 8px solid;

}


#infoOverlay a {
color:#7A6A53;
text-decoration: none;

}